<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FlowerShopEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=FlowerShop;persist security info=True;user id=sa;password=Phuoc1412;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--namespace FlowerShopModel-->
</configuration>